html,
body { height: 100%; }

body {
  width: 100%;
  font-family: sans-serif;
  font-size: 12px;
}

header {
  background-color: aliceblue;
  padding-bottom: 1px;
  text-align: center;
  color: darkslategrey;
  padding-top: 10px;
}

main {
  background-color: aliceblue;
}

footer {
    background-color: aliceblue;
    min-height: 40px;
    font-size: 15px;
    padding-top: 15px;
    padding-left:23px;
    color: darkslategrey;
}

h1 {
  font-size:80px;
}

h3 {
  color: indianred;
}

a:visited {
    color: darkslategrey;
}

a:hover {
    color: indianred;
}

.col {
  position: relative;
  box-sizing: border-box;
  min-height: 1rem;
  padding-bottom: 15px;
  padding-top: 15px;
  border: 1px solid #f4f4f4;
  border-radius: 2px;
  background-color: white;
  overflow: hidden;
  text-align: center;
}

.paginator {
  color: darkslategrey;
  float: right;
  padding-right: 20px;
}
.paginator-page {
  padding: 5px;
  margin: 5px;
  background-color: #daecff;
  color: #333;
  display: inline-block;
  font-family: monospace;
  font-size: 24px;
  text-align: center;
}
